@page "/otherServices"

<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-0">Our Excellent Pet Care Services</h1>
        </div>

        <div class="row g-5">
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="bi bi-house"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Pet Boarding</h5>
                        <p>We provide only the best boarding for your Cats,Dogs and Rodents...Other animal boarding coming soon</p>
                        <p>Prices for cats and dogs differ, eespecially in regards to size, call in for availability</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="bi bi-capsule-pill"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Deworming</h5>
                        <p>We provide deworming servies for all animals</p>
                        <p>Prices for deworming varies per animal/breed, call or come in store for futher info</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="bi bi-scissors"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Pet Grooming</h5>
                        <p>We Provide only the best in pet grooming for all our furry freinds</p>
                        <p>Prices vary by breed and size, call or come in store for futher info</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="bi bi-heart-pulse-fill"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Animal clinic</h5>
                        <p>Round the Clock animal clinic for all your small to medium pet health issues</p>
                         <p>Prices depend on services rendered</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white-50 py-4 sticky-bottom">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy;   All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">Designed by Cameron Wicks</p>
            </div>
        </div>
    </div>
</div>

@code {

}
